.albumart{
	height: 150px;
	width:  150px;
	float:  left;
	border: 2px white solid;
}
.right{
	text-align: right;
}
.banner{
	min-height: 170px;
}
.hidden{
	display:none;
}
h2>a{
	color:white;
}
.mini{
  float:left;
  border:2px white solid;
  margin-right:10px;
}

.list-item-multi-line{
  display:block;
  min-height:60px;
}

.list-item-multi-line p{
	padding-top: 12px;
}
.thumbnail{
	height: 32px;
	width: 32px;
	float:left;
	margin-right: 5px;
	border: 1px white;
}
.double{
	height:96px;
}
#my-dialog{
	width: 174px !important;
	height: 174px !important;
}
.hidden{
	display:none;
}